

window.play cluelist list row:hover {
    background-color: @dark_3;
    color: @light_2;
}

window.play cluelist list row:selected {
    background-color: @yellow_3;
    border: 2px solid @yellow_5;
    color: @dark_5;
}

window.play cluelist list row.highlighted {
    border: 2px solid @yellow_5;
}


window.play cluelist list row label.guessed#clue-label {
    color: @dark_2;
    text-decoration: line-through;
}

window.play cluelist list row label.guessed#num-label {
    color: @dark_2;
}

window.play cluelist list row clue-row.guessed-error label.guessed#clue-label {
    color: @red_4;
    text-decoration: line-through;
}

window.play cluelist list row clue-row.guessed-error label.guessed#num-label {
    color: @red_4;
}

/* Play Grid */
/* Keep play-border.focused in sync with svg.c::stylesheet() */
play-border                          { color: @light_5; }
play-border.dark                     { color: @dark_4; }
play-border.selected                 { color: @yellow_5; }
play-border.highlighted              { color: @orange_3; }
play-border.initial-val              { color: @dark_1; }
play-border.focused                  { color: @blue_5; }
play-border.grid-selected            { color: @blue_5; }
play-cell.normal                     { background-color: @light_3; }
play-cell.initial-val                { background-color: @light_4; }
play-cell.initial-val label          { color: @dark_4; }
play-cell.block                      { background-color: @dark_4; }
play-cell.selected                   { background-color: @yellow_2; }
play-cell.focused                    { background-color: @blue_2; }
play-cell.focused-block              { background-color: @brown_4; }
play-cell.error                      { background-color: @red_4; }
play-cell.highlighted                { background-color: @orange_2; }
play-cell.highlighted label          { color: @orange_5; }
play-cell.highlighted-selected       { background-color: @yellow_4; }
play-cell.highlighted-selected label { color: @orange_5; }
clue-grid play-cell.selected         { background-color: lighter(@yellow_2); }

play-cell.error label  { color: @light_3; }


.tag {
  font-size: .8em;
  border-radius: 99px;
  margin-top: 12px;
  margin-right: 2px;
  margin-bottom: 12px;
  padding: 1px 7px 1px 7px;
  border-style: solid;
  border-width: 1px;
}

.language_tag{
  color: @blue_1;
  border-color: @blue_1;
}

.size_tag {
  color: @red_1;
  border-color: @red_1;
}

.puzzle_type_tag{
  color: @green_1;
  border-color: @green_1;
}

.auto_download_tag{
  color: @orange_1;
  border-color: @orange_1;
}

/* Edit Dialog */

window.edit-greeter button.toggle:checked {
    background-color: @yellow_4;
}

window.edit-greeter gridview child:selected {
    background-color: @yellow_4;
}

histogram label.bar {
    color: @blue_2;
}
