window.play cluelist list {
    background: transparent;
}

/* Clues */
window.play cluelist list row {
    border-radius: 6px;
    border: 2px solid transparent;
}

window.play cluelist list row:hover {
    background-color: @light_3;
}

window.play cluelist list row:selected {
    background-color: @yellow_2;
    border: 2px solid @yellow_4;
}

window.play cluelist list row.highlighted {
    border: 2px solid @yellow_4;
}

window.play cluelist list row label.guessed.clue-label {
    color: @dark_1;
    text-decoration: line-through;
}

window.play cluelist list row label.guessed.num-label {
    color: @dark_1;
}

window.play cluelist list row clue-row.guessed-error label.guessed.num-label {
    color: @red_3;
}

window.play cluelist list row clue-row.guessed-error label.guessed.clue-label {
    color: @red_3;
    text-decoration: line-through;
}


/* Extra Small Zoom */
window.play cluelist header.zoom-xsmall {
    font-size: 12pt;
    font-weight: bold;
}
window.play cluelist list label.zoom-xsmall  {
    font-size: 12px;
}

window.play cluelist list row .zoom-xsmall {
    padding: 1px 2px;
}
label.caption-zoom-xsmall {
  font-weight: 400;
  font-size: 8pt;
  font-style: italic;
}
clue-row.standalone label.zoom-xsmall {
  font-weight: 700;
  font-size: 10pt;
}

/* Small Zoom */
window.play cluelist header.zoom-small {
    font-size: 12pt;
    font-weight: bold;
}
window.play cluelist list label.zoom-small  {
    font-size: 12px;
}
window.play cluelist list row .zoom-small {
    padding: 1px 2px;
}
label.caption-zoom-small {
  font-weight: 400;
  font-size: 9pt;
  font-style: italic;
}
clue-row.standalone label.zoom-small {
  font-weight: 700;
  font-size: 11pt;
}

/* Normal Zoom */
window.play cluelist header.zoom-normal {
    font-size: 12pt;
    font-weight: bold;
}
window.play cluelist list row label.zoom-normal {
    font-size: 12pt;
}
window.play cluelist list row .zoom-normal {
    padding: 2px 4px;
}
label.caption-zoom-normal {
  font-weight: 400;
  font-size: 10pt;
  font-style: italic;
}
clue-row.standalone label.zoom-normal {
  font-weight: 700;
  font-size: 14pt;
}

/* Large Zoom */
window.play cluelist header.zoom-large {
    font-size: 18pt;
    font-weight: bold;
}
window.play cluelist list row label.zoom-large {
    font-size: 16pt;
}
window.play cluelist list row .zoom-large {
    padding: 3px 6px;
}
label.caption-zoom-large {
  font-weight: 400;
  font-size: 14pt;
  font-style: italic;
}
clue-row.standalone label.zoom-large {
  font-weight: 700;
  font-size: 18pt;
}

/* Extra Large Zoom */
window.play cluelist header.zoom-xlarge {
    font-size: 22pt;
    font-weight: bold;
}
window.play cluelist list row label.zoom-xlarge {
    font-size: 20pt;
}
window.play cluelist list row .zoom-xlarge {
    padding: 3px 6px;
}
label.caption-zoom-xlarge {
  font-weight: 400;
  font-size: 16pt;
  font-style: italic;
}
clue-row.standalone label.zoom-xlarge {
  font-weight: 700;
  font-size: 24pt;
}


row.puzzle-won label.subtitle {
    color: @accent_color;
}

window.play play-grid play-cell {
  transition-property: background-color;
  transition-duration: .15s;
  transition-timing-function: linear;
}

/* The Play Grid */
/* Keep play-border.focused in sync with svg.c::stylesheet() */
play-border                      { background-color: @light_4; }
play-border.unset                { background-color: transparent; }
play-border.visible-null         { background-color: alpha(@dark_3,0.15); }
play-border.dark                 { background-color: @dark_3; }
play-border.selected             { background-color: @yellow_4; }
play-border.highlighted          { background-color: @orange_2; }
play-border.initial-val          { background-color: @light_5; }
play-border.focused              { background-color: @blue_4; }
play-border.grid-selected        { background-color: @blue_5; }
play-cell label                  { color: @dark_3; }
play-cell.null                   { background-color: transparent; }
play-cell.visible-null           { background-color: alpha(@light_1,0.15); }
play-cell.normal                 { background-color: @light_1; }
play-cell.initial-val            { background-color: @light_3; }
play-cell.block                  { background-color: @dark_3; }
play-cell.focused                { background-color: @blue_1; }
play-cell.focused-block          { background-color: @brown_3; }
play-cell.selected               { background-color: @yellow_2; }
play-cell.highlighted            { background-color: @orange_1; }
play-cell.highlighted-selected   { background-color: @yellow_4; }
play-cell.error                  { background-color: @red_3; }
play-cell.error label            { color: @light_2; }
play-cell.initial-val label.main { font-weight: bold; }
clue-grid play-cell.selected     { background-color: lighter(@yellow_2); }

/* Crossword Editor */

window.edit gridview {
    background: transparent;
}


window.autofill actionbar {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    background-color: @headerbar_bg_color;
}

window.autofill row button {
    opacity:0.0;
}

window.autofill row:hover button {
    opacity:1.0;
}

.tag {
  font-size: .8em;
  border-radius: 99px;
  margin-top: 12px;
  margin-right: 2px;
  margin-bottom: 12px;
  padding: 1px 7px 1px 7px;
  border-style: solid;
  border-width: 2px;
}

.language_tag{
  background: alpha(@blue_3,0.1);
  color: @blue_5;
  border-color: @blue_5;
}

.size_tag {
  background: alpha(@red_3,0.1);
  color: @red_5;
  border-color: @red_5;
}

.puzzle_type_tag{
  background: alpha(@green_3,0.1);
  color: @green_5;
  border-color: @green_5;
}

.auto_download_tag{
  background: alpha(@orange_3,0.1);
  color: @orange_5;
  border-color: @orange_5;
}

/* Crossword Editor: New Puzzle Greeter */

window.edit-greeter button.toggle:checked {
    background-color: @yellow_2;
}

window.edit-greeter gridview child:selected {
    background-color: @yellow_2;
}

window.edit-greeter gridview {
    background: transparent;
}

/* This is a nice touch when scrolling, taken from builder */
scrolledwindow.shadow-when-scroll undershoot.top {
  box-shadow: inset 0px 5px 14px -14px rgba(0,0,0,.9);
}

edit-grid {
    padding: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

edit-grid {
    background-image: url("resource:///org/gnome/Crosswords/Editor/images/cloth-tileable.png");
    border-image-repeat: repeat;
}

edit-grid.stage-clues {
    background-color:  #f8e45c80;
    background-blend-mode: multiply;
}

edit-grid.stage-style {
    background-color:  #f8e45c80;
    background-blend-mode: difference;
}

edit-cell button.bars-toggle:checked {
    background-color: black;
}

edit-cell button.bars-toggle.border {
    background-color: black;
}

edit-cell button.bars-toggle {
    min-width: 4px;
    min-height: 4px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

edit-cell play-cell.sidebar-logo {
    border-color: @dark_4;
    border-width: 2px;
    border-style: solid;
}

edit-symmetry image.sidebar-logo {
    border-color: @dark_4;
    border-width: 2px;
    border-style: solid;
}

window.edit cluelist header {
  padding-top: 7px;
  font-weight: 700;
  font-size: 11pt;
}

window.edit wordlist viewport {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: white;
}

window.edit cluelist viewport {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: white;
}
window.edit wordlist scrolledwindow {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: white;
}

window.edit cluelist scrolledwindow {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: white;
}

window.edit cluelist list row label.clued {
  color: @dark_1;
}

window.edit cluelist list row label.answershown {
  font-weight: bold;
}

window.edit clueinfo label.word-result {
    background: lighter(@yellow_2);
    color: @dark_4;
    border-color: @yellow_4;
}

/* The toggle button transition finishes when the popover pops back
 * up. This avoids that weird effect */
row popover button.toggle {
    transition-duration: 0ms;
}

histogram label.index {
    font-size: 9pt;
    font-weight: bold;
}

histogram label.bar {
    font-size: 7pt;
    color: @blue_1;
}
